@import 'tailwindcss';

@theme {
  --color-bg: #0a0a0c;
  --color-surface: #0d0d10;
  --color-accent: #e2452b;
  --color-accent-soft: #ff7a5c;
}

body {
  background-color: var(--color-bg);
  color: #e5e5e5;
}
